{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{url_for('users.index')}}">
      {{ form.csrf_token }}
  <p>
    {{ form.first_name(placeholder="first_name") }}
    <span class="text-danger">
      {% if form.first_name.errors %}
        {% for error in form.first_name.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  <p>
    {{ form.last_name(placeholder="last_name") }}
    <span class="text-danger">
      {% if form.last_name.errors %}
        {% for error in form.last_name.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-success" type="submit">Add Owner!</button>
</form>

{% endblock %}
